<%- include('header') %>
<%- include('navbar') %>

<div id="content-wrapper">

  <div class="container-fluid">

    <div class="card mb-3">
      <div class="card-header">
      <i class="fas fa-table"></i>
      Catalogue des produits</div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="product-list" class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Libelle</th>
                <th>Description</th>
                <th>Poids</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Image</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Libelle</th>
                <th>Description</th>
                <th>Poids</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Image</th>
              </tr>
            </tfoot>
            <tbody>
              <% articles.forEach(article => { %>
                <% if (article.stock < 3) {%>
                  <tr class="table-danger">
                <% } else {%>
                  <tr>
                <% } %>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
                <td><%= article.weight %>&nbsp;kg</td>
                <td><%= article.price %>&nbsp;€</td>
                <td><%= article.stock %></td>
                <td><img src="/images/<%= article.img %>"></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
  <!-- /.container-fluid -->

  <%- include('footer') %>