<%- include('header') %>
<%- include('navbar') %>

<div id="content-wrapper">

  <div class="container-fluid">



    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">

              <i class="fas fa-fw fa-users"></i>
            </div>
            <div class="mr-5"><%= noStocks%> Articles indisponibles</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/catalog-page">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-comments"></i>
            </div>
            <div class="mr-5"><%= messages%> Messages non lus</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/messages-page">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      

      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-list"></i>
            </div>
            <div class="mr-5"><%= tasks %> Tâches en cours</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/tasks-page">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>

    </div>

  </div>
  <!-- /.container-fluid -->

  <%- include('footer') %>