<%- include('header') %>
<%- include('navbar') %>

<div id="content-wrapper">

  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Objet</th>
          <th scope="col">Expediteur</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <% messages.forEach(message => {%>
          <tr>
            <% if (message.read == true) {
              var icon = 'fa-envelope-open'
            } else {
              var icon = 'fa-envelope'
            } %>
            <td><i class="fa <%= icon %>"></i></td>
            <td><%= message.title %></td>
            <td><%= message.sender %></td>
            <td><%= message.dateExp %></td>
          </tr>
        <%})%>
      </tbody>
    </table>


    </div>


  <!-- /.container-fluid -->

  <%- include('footer') %>
