<%- include('header') %>
<%- include('navbar') %>

<div id="content-wrapper">

<div class="container-fluid">

  <div class="card mb-3">
    <div class="card-header">
    <i class="fas fa-table"></i>
      Liste des commandes</div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="product-list" class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Date Commande</th>
              <th>Total</th>
              <th>Frais de port</th>
              <th>Payée</th>
              <th>Date Paiement</th>
              <th>Expédiée</th>
              <th>Date Exp</th>
              <th>Adresse</th>
              <th>Ville</th>
              <th>Code postal</th>
              <th>Détail</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Date Commande</th>
              <th>Total</th>
              <th>Frais de port</th>
              <th>Payée</th>
              <th>Date Paiement</th>
              <th>Expédiée</th>
              <th>Date Exp</th>
              <th>Adresse</th>
              <th>Ville</th>
              <th>Code postal</th>
              <th>Détail</th>
            </tr>
          </tfoot>
          <tbody>
            <% orders.forEach(order => { %>
              <tr>
                <td><%= order.date_insert %></td>
                <td><%= order.total %>&nbsp;€</td>
                <td><%= order.shipping_cost %>&nbsp;€</td>
                <% if (order.status_payment == 'waiting') { %>
                  <td class="status-warning">
                  <% } else if (order.status_payment == 'refused') { %>
                    <td class="status-danger">
                  <% } else if (order.status_payment == 'validated') { %>
                    <td class="status-success">
                  <% } else  { %>
                    <td class="status-secondary">
                <% } %>
                <i class="fas fa-circle"></i></td>
                <td><%= order.date_payment %></td>
                <% if (order.status_shipment) { %>
                  <td class="status-success">
                  <% } else { %>
                    <td class="status-secondary">
                  <% } %>
                <i class="fas fa-circle"></i></td>
                <td><%= order.date_shipment %></td>
                <td><%= order.delivery_address %></td>
                <td><%= order.delivery_city %></td>
                <td><%= order.delivery_zipcode %></td>
                <td><a href="/order-page?orderid=<%= order._id %>">voir</a></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
<!-- /.container-fluid -->

<%- include('footer') %>