<%- include('header') %>
<%- include('navbar') %>

<div id="content-wrapper">

  <div class="container-fluid">

    <div class="list-group">
      
      <% tasks.forEach(task => { %>
        
        <% if (task.dateCloture) { 
            var color = 'list-group-item-success' 
          } else {
            var timeDue = Date.parse(task.dateDue)
            var timeNow = Date.now()
            if(timeNow>timeDue) {
              var color = 'list-group-item-danger'
            } else {
              var color = ''
            }
          }
        %>
        <a href="#" class="list-group-item list-group-item-action <%= color %>">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= task.category%></h5>
            <small>Date de la demande: <%= prettyDate(task.dateInsert) %></small>
          </div>
          <p class="mb-1"><%= task.name%></p>
          <% if (task.dateCloture) { %>
            <small><i class="fas fa-check-square"></i> Cloturée le: <%= prettyDate(task.dateCloture) %></small>
          <% } else { %>
            <small>Echéance: <%= prettyDate(task.dateDue) %></small>
          <% } %>
        </a>
      <% }) %>

    </div>


  </div>
  <!-- /.container-fluid -->

<%- include('footer') %>