<%- include('header') %>
<%- include('navbar') %>
    

<div id="content-wrapper">

  <div class="container-fluid">

    <div class="card mb-3">
      <div class="card-header">
      <i class="fas fa-users"></i>
      Liste des clients</div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="users-list" class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>email</th>
                <th>password</th>
                <th>Age</th>
                <th>Sexe</th>
                <th>Date inscription</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>email</th>
                <th>password</th>
                <th>Age</th>
                <th>Sexe</th>
                <th>Date inscription</th>
              </tr>
            </tfoot>
            <tbody>
              <% users.forEach(user => {%>
              <tr>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
                <td><%= user.email %></td>
                <td><%= user.password %></td>
                <td><%= user.age %></td>
                <% if (user.gender === 'female') {
                  var gender = 'fa-female'
                } else {
                  var gender = 'fa-male' } %>
                <td><i class="fas <%= gender %>"></i></td>
                <td><%= prettyDate(user.dateInsert) %></td>
              </tr>
              <% }) %>
              
              
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>


  <!-- /.container-fluid -->

<%- include('footer') %>